.receipt-modal [class*="input_inputWrapper"] {
  height: auto;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.deposit-item {
  border: 1px solid #ebeef2;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.selected-deposit {
  border: 1px solid #ebeef2;
  border-radius: 10px;
  padding: 1.5rem;
  width: 100%;
}
